/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Other Component css */
.modalheader {
  display: flex;
  justify-content: space-between;
}

.modalcontainer {
  max-height: 100vh;
}

.headingstyle {
  text-align: center;
}

.uppersec {
  display: flex;
  justify-content: space-between;
}

.svgstyle {
  height: 1em;
  width: 1em;
  cursor: pointer;
}

.tdclass {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;
}
.trclass {
  text-align: center;
}

.headingcontainer {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 60px 40px;
}

.btnclass {
  text-align: center;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.addbtn {
  background-color: #a997df;
  border: 1px solid #8e7dad;
}

.formcontainer {
  width: 100%;
}

.TitleSidebar {
  text-align: center;
  margin: 42px 0px 20px 0px;
}

.TitleContainer {
  height: 900px;
  width: 250px;
  background-color: #a997df;
}
.ulstyle {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.listyle {
  list-style-type: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
